HELP.md

######### API GATEWAY ##########
backend/api-gateway/target/
backend/api-gateway/.mvn/wrapper/maven-wrapper.jar
### auth secret ###
backend/api-gateway/src/main/resources/secrets.yml

######### AUTH SERVICE ##########
backend/AuthService/target/
backend/AuthService/.mvn/wrapper/maven-wrapper.jar
### auth secret ###
backend/AuthService/src/main/resources/secrets.yml

######### SCHOOL SERVICE ##########
backend/school-service/target/
backend/school-service/.mvn/wrapper/maven-wrapper.jar
### auth secret ###
backend/school-service/src/main/resources/secrets.yml


!**/src/main/**/target/
!**/src/test/**/target/



### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
