server:
  port: 8100

spring:
  application:
    name: api-gateway
  config:
    import: "classpath:secrets.yml"

  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: auth-service
              uri: http://localhost:8090
              predicates:
                - Path=/auth/**
              filters:
                - StripPrefix=1
